## --- .NET Specific (Build Results) ---
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.binlog
*.user
*.suo
*.shell

## --- Java/Spring Boot/EJB Specific ---
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/

## --- Docker & Databases (CRITICAL) ---
user_db_data/
wallet_db_data/
booking_db_data/


## --- VS Code & IDEs ---
.vscode/
.idea/
*.swp
.DS_Store

## --- Environment Secrets ---

